/* CSS reset */
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
input,
button,
form {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h2{
   font-size: 30px;
}
ul,
li {
   margin: 0;
   padding: 0;
}

a {
   color: inherit;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   box-sizing: border-box;
}

/* CSS reset */

.container {
   max-width: 1425px;
   width: 100%;
   margin: 0 auto;
   padding: 0 120px;
   color: #22253B;

}

.wrapper {
   background-color: #F9F8FD;
   background-image: linear-gradient(16deg, rgba(215, 215, 215, 0.8), rgba(255, 255, 255, -4.3)), url("../images/background_header.png");
   background-size: cover;
   max-width: 1425px;
   width: 100%;
   margin: 0 auto;
   color: #000;

   border-radius: 30px;
}

.btn {
   border-radius: 25px;
   background-color: #F15525;

   max-width: 220px;
   padding: 15px 25px;
   color: #fff;
   transition: all 0.4s;
}

.btn:hover {
   background-color: rgba(0, 128, 128, 0.55);
}

.btn_test {
   display: flex;
   align-items: center;
   justify-content: center;
}


/* // Header */
.header {
   padding-top: 25px;
}

.header_nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 15px;
   border-radius: 50px;

   background-color: #fff;
}

.logo {
   max-width: 100px;
   margin-right: 75px;
}

.nav_list {
   display: flex;
   align-items: center;
}

.nav_list_item {
   display: block;
   text-align: center;
}

.nav_list_item:not(:last-child) {
   margin-right: 20px;
}

.link_mar {
   margin-right: 20px;
}

.nav_left {
   display: flex;
   align-items: center;
}

.nav_right li {
   display: flex;
   align-items: center;
}

.item_icon {
   margin-right: 5px;
}

.nav_list_item_link {
   padding: 5px 10px;
   border-radius: 15px;
   transition: all .3s ease;
}

.nav_list_item_link:hover {
   border: 1px solid teal;
   color: teal;
}


/* /// info section */
.info_section {
   position: relative;
   padding-bottom: 60px;
}

.info_left {
   width: 60%;
}

.info_box {
   padding-top: 50px;
   display: flex;
   align-items: center;
   padding-bottom: 10px;
}

.academy {
   color: #F15525;
}

.arrow {
   transform: rotate(140deg);
   width: 19px;
   margin-left: 10px;
   filter: invert(10);
}

.info_title {
   max-width: 550px;
   width: 100%;
   font-size: 32px;
   margin-bottom: 30px;
}

.info_text {
   max-width: 270px;
   width: 100%;

   padding-top: 10px;
   border-top: 1px solid rgba(128, 128, 128, 0.671);
   margin-bottom: 20px;
}

.info_section_img {
   width: 100%;
}

.arrow_down {
   width: 15px;
   transform: rotate(360deg);
}

.circle {
   background-color: #fff;
   width: 60px;
   height: 60px;

   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;

   position: absolute;
   bottom: 5%;
   left: 48%;
   /* transform: translate(-50%); */

   transition: all 0.5s ease;
   animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
   from {
      transform: translateY(-40px);
   }
}

/* //// technologies section */
.technologies_content {
   background-color: #EAF2F5;
   padding: 80px 80px 0px 80px;
   border-radius: 30px;
   display: flex;
}

.technologies_section {
   margin-top: 100px;
   margin-bottom: 100px;
}

.technologies_title, .learn_title,.learning_process_title,.price_header_title {
   text-align: center;
   font-size: 30px;
   margin-bottom: 30px;
}

.technologies_img {
   display: flex;

}

/* .technologies_img_item{
   width: 100%;
} */


.technologies{
   margin-left: 75px;
}
.technologies_item:not(:last-child) {
   margin-right: 15px;
}

.technologies_item {
   display: inline-block;
   margin-bottom: 15px;
   padding: 15px;
   border-radius: 15px;
   color: #fff;
}

.b1 {
   background-color: #f15525c0;
}

.b2 {
   background-color: goldenrod;
}

.b3 {
   background-color: teal;
}

.b4 {
   background-color: green;
}

.b5 {
   background-color: blueviolet;
}

.b6 {
   background-color: brown;
}

.b7 {
   background-color: #000;
}

.b8 {
   background-color: rgba(0, 0, 255, 0.678);
}

.technologies_text{
   margin-top: 15px;
   padding-top: 10px;
   max-width: 340px;
   border-top: 1px solid grey;
}

/* ////// learn_section */
.learn_section{
   margin-bottom: 80px;
}
.learn_cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

}
.learn_cards_item{
   max-width: 300px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 20px 20px 20px;

   border-radius: 40px;
   background-color: #EAF2F5;
   margin-top: 30px;
}

.learn_cards_img{
   margin-bottom: 20px;
}

.learn_cards_title{
   font-size: 16px;
   margin-bottom: 15px;
   text-align: center;
}
.learn_card_text{
   text-align: center;
}

/* ////// learning_process_section */
.learning_process_section{
   padding-top: 50px;
   padding-bottom: 80px;
}

.learning_process_text{
   max-width: 600px;
}

.learning_process_header{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.video_player{
   position: relative;
   margin-bottom: 30px;
}
.btn_play{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   transition: all .5s ease;
   animation: puls 1.2s linear infinite;
   cursor: pointer;
}

@keyframes puls {
   from {
     opacity: 0.3;
   }
}

.learning_process_text{
   text-align: center;
   margin-bottom: 30px;
}

.learning_process_cards{
   display: flex;
   background-color: #fff;
   border-radius: 30px;
   margin-bottom: 20px;
}
.learning_process_cards_item{
   display: flex;
   flex-direction: column;
   
   padding: 40px;
}
.learning_process_cards_item:not(:last-child){
   border-right: 1px solid rgba(128, 128, 128, 0.247);
}

.process_numb{
   font-size: 80px;
   font-weight: 700;
   color: teal;
}

.process_title{
   margin-bottom: 10px;
}

.btn_box{
   max-width: 500px;
   margin: 0 auto;
   padding: 10px;
   border-radius: 100px;
   background-color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.learning_process_btn_text{
   max-width: 280px;
}


/* ///// learning_process_info */

.learning_process_info{
  padding: 90px 120px;
}

.process_info_help_img,.process_info_methods_img{
   padding: 40px;
   border-radius: 30px;
   background-color: rgb(234, 242, 245);
   
}
.process_info_help_img_text,.process_info_methods_img_text{
   padding: 60px 80px;
   border-radius: 30px;
   background-color: rgb(234, 242, 245);
}
.process_info_help{
  display: flex;
  column-gap: 35px;
  max-height: 315px;
}

.process_info_methods{
   display: flex;
   column-gap: 35px;
   max-height: 315px;
   margin-top: 35px;
}

.help_title,.methods_title{
   font-size: 28px;
}
.help_text,.methods_text{
   margin: 20px 0;
}

/* //// price section */
.price_section{
   padding-top: 50px;
   padding-bottom: 80px;
}
.price_header_box{
   display: flex;
   column-gap: 25px;
   margin-bottom: 40px;
}
.price_header_box_item{
   display: flex;
   align-items: center;
}
.price_header_img{
   width: 61px;
   height: 61px;
   margin-right: 20px;
}
.price_header_text{
   font-size: 14px;
}

.prices_box{
   background-color: #fff;
   border-radius: 25px;
   padding: 40px;
}

.prices_block{
   display: grid;
   grid-template-columns: 1.5fr 1fr 1fr;
  
   border-radius: 10px;
}

.prices_block:first-child{
   font-size: 15px;
   color: teal;
   font-weight: 700;
}
.prices_block:nth-child(even){
   background-color: #F3F3F3;
}
.prices_block:last-child{
   font-size: 18px;
   color: black;
   font-weight: 700;
}
.prices_block p{
   padding: 15px; 
}
.price_notes{
   padding: 20px 40px;
   color: gray;
}
.price_info{
   padding: 60px 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   border-radius: 25px;
   background-color: #EAF2F5;
   
}
.price_info a{
   max-width: 300px;
   width: 100%;
   line-height: 32px;
   font-size: 20px;
}
.price_info_text{
   max-width: 600px;
}

/* /// footer */
.footer_col{
   display: grid;
   grid-template-columns: 2.5fr 1fr 1fr;
   padding: 25px 0;
   color: grey;
   border-top: 1px solid rgba(128, 128, 128, 0.432);
}

.footer_box{
   display: grid;
   grid-template-columns: 2.5fr 1fr 1fr;
   align-items: center;
   margin-bottom: 50px;
   border-radius: 25px;
   padding: 20px;
   background-color: white;
}

.footer_logo{
   display: flex;
   align-items: center;
   margin-bottom: 15px;
}
.footer_logo img{
   margin-right: 15px;
}
.footer_logo p{
   max-width: 150px;
}
.footer_box_left_social a:not(:last-child){
   margin-right: 10px;
}

.footer_box_main ul li{
   display: block;
}
.footer_box_main ul li:not(:last-child){
   margin-bottom: 20px;
}